[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Afficher l'image d'origine
Type=Link
URL=https://www.rockagogo.com/image/big/HC085-drapeau-divers-pays-japon-asie-.jpg
Icon=image-jpeg
